<h1>{{title}}</h1>
<nav>
  <a class="nav-menu-link" routerLinkActive="active-route" routerLink="/artists">Artist</a>
  <br>
  <a class="nav-menu-link" routerLinkActive="active-route" routerLink="/songs">Song</a>
  <br>
  <a class="nav-menu-link" routerLinkActive="active-route" routerLink="/albums">Albums</a>
  <br>
  <a class="nav-menu-link" routerLinkActive="active-route" routerLink="/genres">Genres</a>
  <br>
  <a class="nav-menu-link" routerLinkActive="active-route" routerLink="/home">Dashboard</a>
</nav>
<!--<app-teams></app-teams>-->
<!--<app-tournament-groups></app-tournament-groups>-->








<router-outlet></router-outlet>

